<footer class="bg-dark w-100 mt-5 py-5 text-light">
    <section class="container">
        <div class="row g-4 justify-content-between">
            <div class="col-12 col-lg-5">
                <section class="d-flex flex-column gap-3">
                    <div class="">
                        <h4 class="fs-4">Bayan International Group</h4>
                        <p class="fs-smaller text-secondary mt-1">Your Pathway to Global Education. We Simplify Admissions, Provide Support, and Foster Growth Together.</p>
                    </div>
                    <div class="d-flex flex-column gap-2 text-secondary">
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-box-arrow-in-right"></i> Login to your account </a>
                        <span class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-geo-alt-fill"></i> {{store.profile.contact.address}} </span>
                        <a :href="'mailto:'+store.profile.contact.email" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-envelope"></i> {{store.profile.contact.email}} </a>
                        <a :href="'wa.me/'+store.profile.contact.number" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-telephone-outbound"></i> +{{store.profile.contact.number}} </a>
                        <!-- <a href="" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-whatsapp"></i> Whatsapp Chat </a> -->
                        <a :href="store.profile.contact.linkedIn" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-linkedin"></i> LinkedIn </a>
                        <a :href="store.profile.contact.facebook" class="no-decoration d-flex gap-2 align-items-center"> <i class="bi bi-facebook"></i> Facebook </a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-lg-3">
                
                <section class="d-flex flex-column gap-3">
                    <div class="">
                        <h4 class="fs-4">Check also</h4>
                        <p class="fs-smaller text-secondary mt-1">Additional Resources Await Your Discovery for a Deeper Understanding and Enrichment.</p>
                    </div>
                    <div class="d-flex flex-column gap-2 text-secondary">
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Home Page </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> About Us </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Our Majors </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Our Partners </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> FAQ </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Privacy Policy </a>
                        <a href="" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Our Terms </a>
                    </div>
                </section>
            </div>
            <div class="col-12 col-lg-3">
                <section class="d-flex flex-column gap-3">
                    <div class="">
                        <h4 class="fs-4">Usefull Links</h4>
                        <p class="fs-smaller text-secondary mt-1">Your Gateway to Valuable Resources and Information for Enhanced Knowledge and Exploration.</p>
                    </div>
                    <div class="d-flex flex-column gap-2 text-secondary">
                        <a :href="l.url" v-for="l in store.profile.links" :key="l" class="no-decoration d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> {{l.text}} </a>
                        
                    </div>
                </section>
            </div>
        </div>
        <hr class="container my-5">
        <div class="row">
            <div class="col-12">
                <h6 class="text-center pop d-flex justify-content-center"><a href="https://libancode.com" class="no-decoration text-secondary d-flex gap-2 align-items-center"> <span class="material-symbols-outlined">link</span> Developed by Libancode </a></h6>
            </div>
        </div>
    </section>

</footer>