<header class="w-100 z-3 top-0 start-0 px-3 py-2 bg-light shadow-sm d-flex justify-content-between">
    <section class="d-flex align-items-center gap-2">
        <img src="/favicon.ico" alt="logo" width="60" height="60" class="img-fluid rounded-circle skeleton">
        <a href="/" class="no-decoration"><h4>Bayan International Group</h4></a>
    </section>
    <nav class="d-none d-lg-flex align-items-center gap-3">
        <a href="#about" class="no-decoration">About</a>
        <a href="#majors" class="no-decoration">Majors</a>
        <a href="https://register.bayanint.com" class="no-decoration">Registration</a>
        <!-- <a href="" class="no-decoration">Training</a> -->
        <a href="" class="btn btn-sm btn-primary px-3"><span class="pop">Contact</span></a>
    </nav>
    <div class="d-flex align-items-center d-lg-none">
        <i class="bi bi-three-dots-vertical fs-4" data-bs-toggle="dropdown"></i>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#about">About</a></li>
            <li><a class="dropdown-item" href="#majors">Majors</a></li>
            <li><a class="dropdown-item" href="https://register.bayanint.com">Registration</a></li>
            <!-- <li><a class="dropdown-item" href="#">Training</a></li> -->
            <!-- <li><a class="dropdown-item" href="#">Registration</a></li> -->
        </ul>
    </div>
</header>